/*Login form */
@font-face {
  font-family: 'FontAwesome';

  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), 
  url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
}
/*add font-awesome to bootstrap */
.fw {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fw-key:before {
    font-size: 1.3em;
    content: "\f023";
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #8bc34a;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  text-align: center;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.login:not(.loading) button:focus {
  border-bottom-width: 4px;
}
/*-----------end of login form -----------------*/


@media only screen and (min-width: 1400px) {
  #vMenuLeft {
    overflow: hidden;     
    width: 300px;
    height: 100%;
    position:fixed;
    top:52px;
    left:0px;
    border-right: 1px solid #ddd;
    background:#eee;
    padding: 0px;
    color:black;
  }
  
  main{
    padding: 0px 5px;
    width: 100%;
  }
  #app{
    margin-left:300px;
  }
  #loginForm{
    transform: translateX(-150px)
  }

  .menuHover {
    border-left: 5px solid darkorange; 
    background-color: #f8f8f8; 
  }
  .menuActive {
    border-left: 5px solid darkorange; 
    background-color: rgba(100, 110, 129, 0.5); 
  }
}

@media only screen and (max-width: 1399px){
  #vMenuLeft {
      overflow: hidden; 
      background-color: transparent; 
      width: 2px; 
      height: 100%; 
      position: fixed; 

      top: 51px; 
      left: 0px;
      z-index:1000;
  }

  #vMenuLeft:hover { 
      width: auto;     
      height: 100%;
      min-height: 100%;
      
      background: #efefef;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#F17153, #F58D63, #f1ab53);
      /* Standard syntax */
      padding: 0px;
  }

  .list {
    color: #fff;
  }

  .menuHover {
    border-left: 5px solid white; 
    background-color: rgba(255, 255, 255, 0.2); 
  }
  .menuActive {
    border-left: 5px solid white; 
    background-color: rgba(100, 110, 129, 0.5); 
  }
}


/*
.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}*/

.list {
    list-style: none;
    padding-left: 0px;
}
/*
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}*/
.list> li, h5 {
    padding: 5px 0px 5px 0px;
}
/*
.list>li>p {
    padding:7px 7px 7px 10px;
}*/
/*
.list>li:hover>p {
    border-left: 5px solid white; 
    background-color: rgba(255, 255, 255, 0.2); 
    padding:7px;
}*/
.menuItem {
    padding:7px 7px 7px 10px;
    margin: 0px;
    cursor: pointer;
}
.menuHover {
    padding:7px;
    margin:0px;
    cursor: pointer;
}

.menuActive {
    padding:7px;
    margin:0px;
    cursor: pointer;
}


/*
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    
}*/
/*----------forms ----------------*/
.disabledInput {
  border: none;
  background: transparent;
  border-style: none; 
  border-color: transparent; 
  overflow: auto;
  outline:none; 
}



/*----Tabs----*/
#mainTab>li:hover{
    cursor: pointer;
}
#mainTab>li:hover>a>i{
  top:-10px; right: -10px;
  color: darkred;
  visibility: visible;
  
}
#mainTab>li:hover>a>i:hover{
  top:-10px; right: -10px;
  color: red;
  visibility: visible;
  cursor: pointer;
}

.tabclosebutton {
  top:-10px; right: -10px;
  visibility: hidden;
}

i:hover>a>uib-tab-heading>i {
  top:-10px; right: -10px;
  color: darkred;
  visibility: visible;
  cursor: pointer;
}

li:hover>a>uib-tab-heading>i:hover {
  top:-10px; right: -10px;
  color: red;
  visibility: visible;
  cursor: pointer;
}

/*------------main view transition animation---*/
@media only screen and (max-width: 1399px){
    #mainView{
      position:relative;
    }

    #mainView>div {  
      position:absolute;
      width: 100%;
      -webkit-transition: -webkit-transform 1s ease;
      transition: -webkit-transform 1s ease;
      transition: transform 1s ease;
      transition: transform 1s ease, -webkit-transform 1s ease;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }

    #mainView>div.ng-enter {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
      transition: 1s;
      opacity: 0;
    }


    #mainView>div.ng-enter-active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainView>div.ng-leave {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    #mainView>div.ng-leave-active{
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
    }
}