<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.book._id ? "Update" : "Add"}} book</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="bookTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="bookTitle" 
                placeholder="Book Title" ng-model="$ctrl.book.title">
            </div>
        </div>
        <div class="form-group">
            <label for="noPage" class="col-sm-2 control-label">no.Page</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="noPage" 
                placeholder="num of page" ng-model="$ctrl.book.noPage">
            </div>
            <label for="price" class="col-sm-2 control-label">Price</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="price" 
                placeholder="price" ng-model="$ctrl.book.price">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.book._id ? "Save" : "Create"}}</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>