<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.frontend._id ? "Edit " : "Add "}} Front-end Function</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="frontendTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="frontendTitle" placeholder="Title" ng-model="$ctrl.frontend.title">
            </div>
        </div>
        <div class="form-group">
            <label for="frontendUrl" class="col-sm-2 control-label">Url(state)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="frontendUrl" placeholder="Url(state)" ng-model="$ctrl.frontend.url">
            </div>
            <label for="frontendAuthor" class="col-sm-2 control-label">Author</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="frontendAuthor" placeholder="Author" ng-model="$ctrl.frontend.author">
            </div>
        </div>
        <div class="form-group">
            <label for="frontendDesc" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" placeholder="Description" ng-model="$ctrl.frontend.description"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.frontend._id ? "Save" : "Create"}}</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>