<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.backend._id ? "Edit " : "Add "}} Back-end Function</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="backendTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="backendTitle" placeholder="Title" ng-model="$ctrl.backend.title">
            </div>
        </div>
        <div class="form-group">
            <label for="backendCtrl" class="col-sm-2 control-label">Controller</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="backendCtrl" placeholder="Controller name" ng-model="$ctrl.backend.controller">
            </div>
            <label for="backendMethod" class="col-sm-2 control-label">Method</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="backendMethod" placeholder="method name" ng-model="$ctrl.backend.method">
            </div>
        </div>
        <div class="form-group">
            <label for="bHttpVerb" class="col-sm-2 control-label">Http Verb</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="bHttpVerb" placeholder="GET|POST|PUT|DELETE" ng-model="$ctrl.backend.httpVerb">
            </div>
            <label for="backendAuthor" class="col-sm-2 control-label">Author</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="backendAuthor" placeholder="Author" ng-model="$ctrl.backend.author">
            </div>
        </div>
        <div class="form-group">
            <label for="backendDesc" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" placeholder="Description" ng-model="$ctrl.backend.description"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.backend._id ? "Save" : "Create"}}</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>