<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Assign role to {{$ctrl.user.fullname}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">                
                <ui-select ng-model="$ctrl.user.roles" multiple theme="selectize">
                    <ui-select-match placeholder="Select or search a role in the list...">{{$item.title}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.roles | filter: $select.search" position="down">
                        <div ng-bind-html="item.title | highlight: $select.search"></div>
                        <small ng-bind-html="item.description | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <textarea id="reason" class="form-control" rows="3" placeholder="{{'Reasons for updating ' + $ctrl.user.fullname + ' roles'}}" ng-model="$ctrl.reason"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>