<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Create User</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="fullname" class="col-sm-2 control-label">Full Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fullname" placeholder="Full name" ng-model="$ctrl.user.fullname">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="username" placeholder="User name" ng-model="$ctrl.user.username">
            </div>
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password" placeholder="password" ng-model="$ctrl.user.hashedPass">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">                
                <ui-select ng-model="$ctrl.user.roles" multiple theme="selectize">
                    <ui-select-match placeholder="Select or search a role in the list...">{{$item.title}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.roles | filter: $select.search" position="down">
                        <div ng-bind-html="item.title | highlight: $select.search"></div>
                        <small ng-bind-html="item.description | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <textarea id="reason" class="form-control" rows="3" placeholder="Reasons for creating a new user" ng-model="$ctrl.reason"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
