<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row" style="display: flex; align-items: center; min-height: 1vh;">
            <div class="col-md-6">
                <h2>Front-end Management<span class="glyphicon glyphicon-plus-sign" 
                style="vertical-align: middle; cursor: pointer;"
                ng-click="add()"></span></h2>
            </div>
            <div class="col-md-6">
                <form class="form-inline pull-right">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>                        
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Url</th>
                <th>Description</th>
                <th>State</th>
                <th>Author</th>
                <th>Created Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in frontendList track by $index" ng-class="f.activated ? '' : 'danger'">
                <td>{{$index + 1}}</td>
                <td>{{f.title}}</td>
                <td>{{f.url}}</td>
                <td>{{ f.description}}</td>
                <td ng-click="changeState(f)" style="cursor: pointer;">{{f.activated ? 'activated' : 'disabled'}}</td>
                <td>{{f.author}}</td>
                <td>{{f.createdOn}}</td>
                <td ng-click="edit(f, $index)"><span class="glyphicon glyphicon-edit"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer clearfix">
        <nav aria-label="Page navigation" class="pull-right">
            <ul class="pagination" style="margin:0px;">
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>