    <form ng-submit="login()" id="loginForm">
    <div class="wrapper">        
        <div class="{{loginFormClass}}" >
            <p class="title">Đăng nhập</p>
            <input type="text" placeholder="Username" autofocus ng-model="username" tabindex="1"/>
            <i class="fa fa-user"><span class="glyphicon glyphicon-user"></span></i>
            <input id="password" type="password" placeholder="Password" ng-model="password" tabindex="2" />
            <i class="fa fa-key"><span class="fw fw-key"></span></i>
            <a href="#">Forgot your password?</a>
            <button ng-click="login()" tabindex="3">
                <i class="spinner"></i>
                <span class="state">{{state}}</span>
            </button>
        </div>
    </div>
    </form>