<div class="modal-header">
    <div class="col-md-8">
        <h3 class="modal-title" id="modal-title">Media Management</h3>
    </div>
    <div class="text-right">
        <span class="fa fa-file-o" style="font-size: 1.7em; color: royalblue; vertical-align:middle; cursor:pointer;" 
            ngf-select="$ctrl.dropFileHandler($files)" multiple="multiple"></span>
        <span class="fa fa-folder-o" style="font-size: 2em; color: royalblue; vertical-align:middle; cursor:pointer;"
            ng-click="$ctrl.createNewFolder()"></span>
        <span class="fa fa-trash-o" style="font-size: 2em; color: royalblue; vertical-align:middle; cursor:pointer;"></span>
    </div>
</div>
<div class="modal-body" id="modal-body" style="padding-top:0;">
    <div class="row" ngf-drop="$ctrl.dropFileHandler($files)" ngf-multiple="true">
        <table class="table table-hover table-condensed table-fit">
            <tr ng-repeat="f in $ctrl.files track by $index" ng-click="$ctrl.select(f)" ng-dblclick="$ctrl.selected(f)">
                <td style="width:1px;"><i class="fa fa-2x" ng-class="f.class" style="color:orange;"></i></td>
                <td style="vertical-align: middle;"><span ng-hide="f.editable">{{f.name}}</span>
                    <input type="text" ng-show="f.editable" ng-model="f.newName" placeholder="{{f.type== 'folder'? 'Folder Name' : 'File Name'}}" autofocus
                        ng-blur="$ctrl.changeFName(f)" ng-enter="$ctrl.changeFName(f)">
                </td>
                <td class="text-right">
                    <span class="fa fa-edit" style="font-size: 2em; color: royalblue; vertical-align:middle; cursor:pointer;" ng-click="$ctrl.rename(f)"></span>
                    <span class="fa fa-trash-o" style="font-size: 2em; color: royalblue; vertical-align:middle; cursor:pointer;" ng-click="$ctrl.delete(f)"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <input type="text" placeholder="http://.........." style="border:none;" ng-model="$ctrl.selectedUrl">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Select</button>
</div>