<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row" style="display: flex; align-items: center; min-height: 1vh;">
            <div class="col-md-6">
                <h2>Role Management
                    <span class="glyphicon glyphicon-plus-sign" ng-click="addRole()"
                    style="vertical-align: middle; cursor: pointer;"></span>
                </h2>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>State</th>
                <th>Backend Funcs</th>
                <th>Frontend Funcs</th>
                <th>Description</th>
                <th>Created Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="role in roleList track by $index" ng-class="role.activated ? '' : 'danger'">
                <td>{{$index + 1}}</td>
                <td>{{role.title}}</td>
                <td ng-click="changeState(role)" style="cursor: pointer;">{{role.activated ? 'activated' : 'disabled'}}</td>
                <td>
                    <code ng-repeat="b in role.backends" style="display:block; color:darkgreen; margin-top:5px; padding-left:5px;">{{b.title}}</code>
                </td>
                <td>                    
                    <code ng-repeat="f in role.frontends" style="display:block; color:darkgreen; margin-top:5px; padding-left:5px;">{{f.title}}</code>                    
                </td>
                <td>{{role.description}}</td>
                <td>{{role.createdOn}}</td>
                <td ng-click="addEditRole(role, $index)"><span class="glyphicon glyphicon-edit"></span></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer clearfix">
        <nav aria-label="Page navigation" class="pull-right">
            <ul class="pagination" style="margin:0px;">
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>